<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-1a5e16c9-6c14-43a3-ab77-72b8fc03a48f;AttachDbFilename=|DataDirectory|\aspnet-Website-1a5e16c9-6c14-43a3-ab77-72b8fc03a48f.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="NWDB"
        connectionString="Data Source=.;Initial Catalog=.;Integrated Security=true"
        providerName="System.Data.SqlClient"/>
</connectionStrings>
